li.item {
  padding: 0;
  @include text($text-md);
  &:hover {
    background-color: #585858;
  }

  & > * {
    width: 100%;
    padding: 8px 10px;
    box-sizing: border-box;
    text-align: center;
  }

  a {
    text-decoration: none;
    color: white;
  }
}

div.dropdown-root {
  background-color: #484848;
  color: white;
  opacity: 0.9 !important;
}

div.triangle {
  overflow: visible;
  filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.32));
  margin-top: 0.5rem;
  min-width: 143px;
  margin-left: 7px;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    right: 15px;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 8px solid #484848;

    top: -8px;
  }
}
